body {
	font-size: 16px;
	font-family: Arial;
}

.container {
	width: 80%;
	margin: 0 auto;
}

h1.page-heading {
	text-align: center;
}

.tables {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

h3.table-heading {
	text-align: center;
}

/*table styles*/
.voters-table {
	border-collapse:collapse;
	border-spacing:0;
}

.voters-table td {
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}

.voters-table th {
	font-size: 0.8rem;
	font-weight: bold;
	padding: 0.6rem 0.6rem;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}

.voters-table .voters-table-left {
	text-align: center;
	vertical-align: top
}

.voters-table .voters-table-right {
	text-align: center;
	vertical-align: top;
}

.buttons {
	margin: 60px 0;
	text-align: center;
}

.winner-message {
	text-align: center;
}

.winner-message p {
	color: red;
}